*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  block-size: 100%;
}

.page {
  display: flex;
  padding-left: 30px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/*блок поиска видео и результата*/
.content {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
}

.result {
  width: 711px;
  margin-right: 30px;
  flex-shrink: 0;
}

.result__video {
  width: 100%; 
  height: 100%;
}

/*анимация загрузки ровно в блоке видео*/
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px; 
}

video {
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;;
}

/*блок выведенного списка*/
.title {
  width: 259px;
  margin-bottom: 21px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  line-height: 94%;
}

.content__details {
  width: 399px;
}

.content__list-container {
  position: relative;
  padding: 0px 3px 2px 2px; 
  height: 298px;
  overflow: auto;
  display: grid;
  gap: 30px;
}

.content__list {
  display: grid;
  gap: 30px;
  padding-top: 2px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 196px; 
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  inline-size: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  margin-top: 6px;
  -webkit-line-clamp: 4; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*стилизация*/
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/*стилизация инпута*/
.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items:center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color:transparent;
  appearance: none;
  width: 225px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

/*стилизация чекбоксов*/
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  padding: 1px;
  margin-left: 1.5px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width:100%;
  height: 100%;
  opacity: 0;
  
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

 .search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid #fff;
}

/*стилизация кнопок*/
.button {
  background-color:transparent;
  min-height: 34px;
  border: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: inherit;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-self: self-end;
}

.more-button {
  width: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*стилизация карточек городов*/
.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}


/*Различие в 6px по вертикали вижу, 
и учитывая что консоль сообщает что все размеры кроме 
надписи По-смотри в окно в порядке, предполагаю проблему в разнице шрифтов. 
Шрифты и связанное указано по фигме. Если центрировать пиксель перфект от видео, 
то заметно, что различие начинается от того, где начинается название*/







